.home-parent-pages-level{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
}

.home-component-page{
    padding: 10px 10px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color: aliceblue;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    width: 47%;
}

.home-header{
    margin-top: 20px;
    text-align: center;
}