.service-parent-pages-level{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}

.article-level-css{
    max-width: 440px;
    border: 1px solid aqua;
    border-radius: 5px;
    padding: "10px";
    margin: 5px;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.header{
    width: 650px;
}

